* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header, main {
  font-family: "Kanit", sans-serif; }

footer {
  background-color: black; }
  footer .social-media {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-right: .625rem; }
    footer .social-media .logo-social-media {
      height: 2.1875rem;
      width: auto;
      margin: .625rem; }

header {
  background-color: #b8b9b8; }
  header .nav-bar {
    display: flex;
    margin: .625rem 0; }
    header .nav-bar .logo {
      height: 6.25rem;
      width: auto;
      margin: .3125rem 2.5rem; }
    header .nav-bar .nav-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      list-style: none;
      gap: 6.25rem; }
      header .nav-bar .nav-items li:hover {
        transform: scale(1.2); }
      header .nav-bar .nav-items li a {
        color: #000000;
        font-weight: bold;
        font-size: 1.25rem;
        text-decoration: none;
        text-align: center; }
        header .nav-bar .nav-items li a:hover {
          color: #ad6c37; }

.fixture-page-title {
  text-align: center;
  margin: 3.75rem 0 2.5rem 0;
  font-size: 2rem; }

table {
  border-collapse: collapse;
  width: 100%; }
  table th, table td {
    border: .0625rem solid #ccc;
    padding: .5rem;
    text-align: center; }
  table th {
    background-color: #f2f2f2; }

.fixture {
  padding: 0 2.5rem 2.5rem 2.5rem; }
  .fixture-table {
    width: 100%; }
    .fixture-table th:nth-child(1), .fixture-table td:nth-child(1) {
      width: 5%; }
    .fixture-table th:nth-child(2), .fixture-table th:nth-child(3), .fixture-table th:nth-child(4), .fixture-table th:nth-child(5), .fixture-table td:nth-child(2), .fixture-table td:nth-child(3), .fixture-table td:nth-child(4), .fixture-table td:nth-child(5) {
      width: 23.75%; }

.gallery-page-title {
  text-align: center;
  margin: 3.75rem 0 2.5rem 0;
  font-size: 2rem; }

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: .625rem;
  padding: 0 4.6875rem 4.6875rem 4.6875rem; }
  .gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .gallery-horizontal {
    grid-column: 1 / 4;
    grid-row: 1 / 2; }
  .gallery-vertical {
    grid-column: 1 / 2;
    grid-row: 2 / 4; }
  .gallery-1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  .gallery-2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3; }
  .gallery-3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4; }
  .gallery-4 {
    grid-column: 3 / 4;
    grid-row: 3 / 4; }

main .section-banner {
  background-image: url("../assets/img/banner.png");
  width: 100%;
  height: 28.125rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

main .section-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; }
  main .section-main .section-news, main .section-main .section-fixture {
    flex: 1;
    width: 100%;
    margin: 3.75rem 1.25rem 2.5rem 3.125rem;
    padding-right: 3.125rem; }
    main .section-main .section-news .news-title, main .section-main .section-fixture .news-title, main .section-main .section-fixture .fixture-title {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.25rem; }
      main .section-main .section-news .news-title h2, main .section-main .section-fixture .news-title h2, main .section-main .section-fixture .fixture-title h2 {
        margin: 0; }
      main .section-main .section-news .news-title a, main .section-main .section-fixture .news-title a, main .section-main .section-fixture .fixture-title a {
        color: #ad6c37;
        text-decoration: none;
        font-weight: bold;
        margin-left: auto; }
    main .section-main .section-news .news-container-home, main .section-main .section-fixture .news-container-home {
      margin: 1.25rem 0; }
      main .section-main .section-news .news-container-home article, main .section-main .section-fixture .news-container-home article {
        display: flex;
        flex-direction: column; }
        main .section-main .section-news .news-container-home article img, main .section-main .section-fixture .news-container-home article img {
          width: 25rem;
          height: auto; }
        main .section-main .section-news .news-container-home article h3, main .section-main .section-fixture .news-container-home article h3 {
          margin-top: 1.25rem;
          font-size: 1.125rem; }
        main .section-main .section-news .news-container-home article p, main .section-main .section-fixture .news-container-home article p {
          margin: 0.625rem 0;
          padding-right: 2.5rem;
          font-weight: 200; }
  main .section-main .section-fixture .fixture-title h2 {
    margin: 0; }
  main .section-main .section-fixture .fixture-title a {
    color: #ad6c37;
    text-decoration: none;
    font-weight: bold;
    margin-left: auto; }

main .section-sponsorship {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 6.25rem;
  background-color: #b8b9b8; }
  main .section-sponsorship .logo-sponsor {
    height: 5.625rem;
    width: auto; }
    main .section-sponsorship .logo-sponsor:hover {
      transform: scale(1.2); }

.news-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.25rem 1.25rem 1.25rem; }
  .news-main .news-page-title {
    text-align: center;
    margin: 3.75rem 0 2.5rem 0;
    font-size: 2rem; }
  .news-main .news-container .news-article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1.875rem;
    border-bottom: .125rem solid black;
    padding-bottom: 1.25rem; }
    .news-main .news-container .news-article .news-img-container .news-img {
      width: 25rem;
      height: auto; }
    .news-main .news-container .news-article .news-content {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
      margin-left: 1.875rem; }
      .news-main .news-container .news-article .news-content h2 {
        margin: 0;
        color: #ad6c37;
        font-size: 1.5rem; }
      .news-main .news-container .news-article .news-content h3 {
        margin: .625rem 0;
        font-size: .9375rem; }
      .news-main .news-container .news-article .news-content p {
        margin: 0;
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 200; }
  .news-main .news-container .more-news {
    display: block;
    margin-top: 2.5rem;
    text-align: center;
    text-decoration: none;
    color: #ad6c37;
    font-size: 1.25rem;
    font-weight: bold; }

.team-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center; }
  .team-main .team-page-title {
    text-align: center;
    margin: 3.75rem 0 2.5rem 0;
    font-size: 2rem; }
  .team-main .team-page-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 3.125rem; }
  .team-main .team-list-section .team-list-title a {
    text-decoration: none;
    color: #ad6c37;
    display: inline-block; }
  .team-main .team-list-section .team-list {
    margin-bottom: 3.75rem; }
    .team-main .team-list-section .team-list .player-card {
      width: 18.75rem;
      height: auto;
      padding: 1.25rem; }
    .team-main .team-list-section .team-list .coach-card {
      width: 18.75rem;
      height: auto;
      padding: 1.25rem; }

.team-page-menu button {
  width: 9.375rem;
  padding: .625rem 0;
  margin: 0 1.25rem 2.5rem 1.25rem;
  background-color: black;
  border: none;
  text-align: center;
  box-sizing: border-box; }
  .team-page-menu button a {
    display: block;
    text-decoration: none;
    color: white;
    width: 100%; }

.fixture-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 1.25rem 15%;
  border: .0625rem solid black;
  border-radius: .625rem;
  overflow: hidden;
  box-shadow: .125rem .125rem .625rem black; }
  .fixture-container .match-date {
    padding: 0.3125rem 0 0.3125rem 1.25rem;
    font-weight: 400;
    color: white;
    background-color: black; }
  .fixture-container .match-opponent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0 1.25rem 0; }
    .fixture-container .match-opponent h3 {
      flex: 1;
      margin: 0; }
    .fixture-container .match-opponent h4 {
      margin: 0;
      text-align: center;
      font-weight: 200; }
    .fixture-container .match-opponent .team-1 {
      text-align: right;
      width: 45%; }
    .fixture-container .match-opponent .versus {
      width: 10%; }
    .fixture-container .match-opponent .team-2 {
      text-align: left;
      width: 45%; }
  .fixture-container .match-details {
    padding: 0 0 1.25rem 0;
    text-align: center; }
    .fixture-container .match-details h4 {
      font-weight: 200; }
    .fixture-container .match-details h5 {
      font-weight: 200; }

@media (max-width: 768px) {
  header .nav-bar .nav-items {
    gap: 3.125rem; }
  main .section-main .section-news .news-container-home article div p, main .section-main .section-fixture .news-container-home article div p {
    padding-right: 0; }
  .news-main .news-container .news-article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start; }
    .news-main .news-container .news-article .news-img-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%; }
      .news-main .news-container .news-article .news-img-container .news-img {
        width: 100%;
        height: auto; }
    .news-main .news-container .news-article .news-content {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: stretch;
      margin: 0;
      padding: 0 .625rem; }
      .news-main .news-container .news-article .news-content h2 {
        margin-top: 1.25rem; }
  .gallery {
    gap: .3125rem;
    padding: 0 3.125rem 3.125rem 3.125rem; }
  .team-page-menu button {
    width: 7.5rem;
    margin: 0 .3125rem 1.25rem .3125rem; } }

@media (max-width: 430px) {
  header .nav-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch; }
    header .nav-bar .nav-bar-img {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: stretch;
      margin-top: .625rem; }
    header .nav-bar .nav-items {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0rem;
      padding: .625rem 0 1.25rem 0; }
  main .section-banner {
    background-image: url("../assets/img/banner-mobile.png");
    height: 15rem; }
  main .section-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    main .section-main .section-news, main .section-main .section-fixture {
      margin: 0;
      padding: 2.5rem; }
      main .section-main .section-news .news-container-home article img, main .section-main .section-fixture .news-container-home article img {
        width: 100%; }
      main .section-main .section-news .news-container-home article h3, main .section-main .section-fixture .news-container-home article h3 {
        font-size: 1rem; }
      main .section-main .section-news .news-container-home article p, main .section-main .section-fixture .news-container-home article p {
        margin: 0.25rem 0; }
    main .section-main .section-fixture {
      margin: 0; }
      main .section-main .section-fixture .fixture-container {
        margin: .9375rem 0; }
  main .section-sponsorship .logo-sponsor {
    height: 5rem; }
  .news-main .news-container .news-article .news-content h2 {
    margin-top: 1.25rem;
    padding: 0rem .625rem; }
  .news-main .news-container .news-article .news-content h3 {
    padding: 0rem .625rem; }
  .news-main .news-container .news-article .news-content p {
    padding: 0rem .625rem; }
  .team-main .team-page-title {
    margin: 3.75rem .625rem 2.5rem .625rem; }
  .team-main .team-page-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch; }
  .fixture-page-title {
    margin: 3.75rem .625rem 2.5rem .625rem; }
  table th, table td {
    font-size: .75rem; }
  .fixture {
    padding: 0 1.25rem 1.25rem 1.25rem; }
    .fixture-table {
      width: 100%; }
      .fixture-table th:nth-child(1), .fixture-table td:nth-child(1) {
        width: 5%; }
      .fixture-table th:nth-child(2), .fixture-table td:nth-child(2) {
        width: 25%; }
      .fixture-table th:nth-child(3), .fixture-table td:nth-child(3) {
        width: 35%; }
      .fixture-table th:nth-child(4), .fixture-table td:nth-child(4) {
        width: 15%; }
      .fixture-table th:nth-child(5), .fixture-table td:nth-child(5) {
        width: 20%; }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: .125rem;
    padding: 0 1.25rem 1.25rem 1.25rem; }
    .gallery-horizontal {
      grid-column: 1 / 3;
      grid-row: 1 / 2; }
    .gallery-vertical {
      grid-column: 1 / 2;
      grid-row: 2 / 4; }
    .gallery-1 {
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
    .gallery-2 {
      grid-column: 2 / 3;
      grid-row: 3 / 4; }
    .gallery-3 {
      grid-column: 1 / 2;
      grid-row: 4 / 5; }
    .gallery-4 {
      grid-column: 2 / 3;
      grid-row: 4 / 5; }
  footer .social-media .logo-social-media {
    height: 1.875rem; }
  .team-page-menu button {
    margin: 0 0 1.25rem 0; } }

@media (max-width: 380px) {
  main .section-banner {
    background-image: url("../assets/img/banner-mobile.png");
    height: 12.5rem; }
  main .section-main .section-news, main .section-main .section-fixture {
    padding: 1.875rem; }
    main .section-main .section-news .news-title h2, main .section-main .section-fixture .news-title h2, main .section-main .section-fixture .fixture-title h2 {
      font-size: 1.25rem; }
    main .section-main .section-news .news-title a, main .section-main .section-fixture .news-title a, main .section-main .section-fixture .fixture-title a {
      font-size: 1rem; }
    main .section-main .section-news .news-container-home article img, main .section-main .section-fixture .news-container-home article img {
      width: 100%; }
    main .section-main .section-news .news-container-home article h3, main .section-main .section-fixture .news-container-home article h3 {
      font-size: 1rem; }
    main .section-main .section-news .news-container-home article p, main .section-main .section-fixture .news-container-home article p {
      font-size: .875rem; }
  main .section-main .section-fixture .fixture-title h2 {
    font-size: 1.25rem; }
  main .section-main .section-fixture .fixture-title a {
    font-size: 1rem; }
  main .section-main .section-fixture .fixture-container .match-opponent .team-1 {
    font-size: 1rem; }
  main .section-main .section-fixture .fixture-container .match-opponent .versus {
    font-size: 1rem; }
  main .section-main .section-fixture .fixture-container .match-opponent .team-2 {
    font-size: 1rem; }
  main .section-sponsorship .logo-sponsor {
    height: 4.375rem; }
  table th, table td {
    font-size: .625rem; }
  .gallery {
    grid-template-columns: repeat(1, 1fr); }
    .gallery-horizontal {
      grid-column: 1 / 1;
      grid-row: 1 / 2; }
    .gallery-vertical {
      grid-column: 1 / 1;
      grid-row: 2 / 3; }
    .gallery-1 {
      grid-column: 1 / 1;
      grid-row: 3 / 4; }
    .gallery-2 {
      grid-column: 1 / 1;
      grid-row: 4 / 5; }
    .gallery-3 {
      grid-column: 1 / 1;
      grid-row: 5 / 6; }
    .gallery-4 {
      grid-column: 1 / 1;
      grid-row: 6 / 7; } }

@media (max-width: 320px) {
  main .section-banner {
    background-image: url("../assets/img/banner-mobile.png");
    height: 12.5rem; }
  main .section-main .section-news, main .section-main .section-fixture {
    padding: 1.25rem; }
    main .section-main .section-news .news-container-home article img, main .section-main .section-fixture .news-container-home article img {
      width: 100%; }
  table th, table td {
    font-size: .5rem; } }
