@media(max-width: 320px) {
    // main-home
    main {
        .section-banner {
            background-image: url("../assets/img/banner-mobile.png");
            height: 12.5rem;
        }
        .section-main {        
            .section-news {
                padding: 1.25rem;      
                .news-container-home {                
                    article {
                        img {
                            width: 100%;
                        }                        
                    }
                }
            }
        }
    }
    // main-fixture   
    table {        
        th, td {
            font-size: .5rem;
        }        
    }    
}