header {
    background-color: $color-principal;
    .nav-bar {
        display: flex;
        margin: .625rem 0;
        .logo {    
            height: 6.25rem;
            width: auto;
            margin: .3125rem 2.5rem;
        }
        .nav-items {
            @include flex(row, wrap, center, center);
            width: 100%;   
            list-style: none;
            gap: 6.25rem;
            li:hover {
                transform: scale(1.2);
            }
            li a {
                color: $color-font-principal;        
                font-weight: bold;
                font-size: 1.25rem;
                text-decoration: none;
                text-align: center;
                &:hover {
                    color: $color-secondary;         
                }    
            }
        }
    }
}